body {
  background-color: yellow;
  text-align: center;
}

.game-name {
  padding: 10% 15% 2% 15%;
}

.big-heading {
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
}

.choose-player-heading {
  font-family: 'Lobster', cursive;
}

.roll-btn {
  padding: 1% 10%;
  font-family: 'Pacifico', cursive;
}

.dice-img {
  width: 40%;
  padding: 5% 10%;
}

.top-container {
  padding-top: 7%;
}

.dice-container {
  position: relative;
  padding-top: 2%;
  /*  */
}

.player1-title {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  position: absolute;
  left: 25%;
}

.player2-title {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  position: absolute;
  right: 25%;
}

@media (max-width: 992px) {
  .player1-title {
    font-size: 1rem;
  }

  .player2-title {
    font-size: 1rem;
  }

}
@media (max-width:478px){
  .dice-img{
    /* width: 40%; */
    padding-top: 40px;

  }
}
